<div class="relative w-full p-3 bg-gray-900 text-white">
  <div
    class="mx-auto flex max-w-7xl items-center justify-between px-4 py-2 sm:px-6 lg:px-8"
  >
    <div class="inline-flex items-center space-x-2">
      <span class="font-bold">Apni Gadi</span>
    </div>
    <div class="hidden grow items-start lg:flex">
      <ul class="ml-12 inline-flex space-x-8">
        <li>
          <a
            href="/listings"
            class="inline-flex items-center text-sm font-semibold hover:text-gray-100"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="#"
            class="inline-flex items-center text-sm font-semibold hover:text-gray-100"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="#"
            class="inline-flex items-center text-sm font-semibold hover:text-gray-100"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
    <% if(!currUser) {%>
    <div class="hidden space-x-2 lg:block sm:block">
      <a href="/signup">
        <button
          class="rounded-md bg-transparent px-3 py-2 text-sm font-semibold text-white hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          Sign In
        </button></a
      >
      <a href="/login">
        <button
          type="button"
          class="rounded-md border border-white px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          Log In
        </button>
      </a>
    </div>
    <% } else{%>
    <a href="/account/profile"
      ><img
        class="h-9"
        src="https://res.cloudinary.com/dmwtxx5qv/image/upload/v1713241743/profile_ii0mot.png"
        alt=""
    /></a>
    <% } %>
    <div class="lg:hidden sm:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6 cursor-pointer"
      >
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
      </svg>
    </div>
  </div>
</div>
